*{
    padding: 0%;
    margin: 0%;   
}
.flex{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: whitesmoke;
}

a{
    text-decoration: none;
}

main{
    height: 100vh;
    background-color:#25001D;
}
.pai{
    padding-left: 50px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  
}
.text{
    padding: 0 50px 0 100px;
}
.texto{
    padding-top: 50px;
}
.img{
    padding-top:25px ;
    padding-left: 250px;
    height: 200px;
}